body {
  background-color: #263238;
}

.box {
  width: 100px;
  height: 100px;
  background: #000;
  animation: rotation 2s ease 0s 1 alternate none running;
}

@keyframes rotation {
  0% {
    width: 200px;
    background: green;
  }
  
  50% {
    height: 500px;
    background: red;
  }

  100% {
    width: 600px;
    background: blue;
  }
}
